@use "/src/common/styles/colors" as *;
@use "/src/common/styles/widths" as *;
@use "/src/common/styles/mixin" as *;
@use "/src/common/styles/inherits" as *;

$gap: 10px;

.hover {
  background-color: transparentize($color: $colorBG, $amount: 0.3);
}

.task {
  width: $width * 2;
  min-width: $min-width;
  display: flex;
  border: $border-width solid black;
  padding: 0 $gap;
  margin: $gap;
  justify-content: center;
  background-color: $colorBG;
  @include border-radius(8px);
  &:hover {
    @extend %hover;
  }
  p {
    margin-right: auto;
    @include font(26px, serif, 600);
    text: {
      shadow: 2px 2px 5px black;
      decoration: {
        line: underline;
        style: wavy;
      }
    }
  }
  button {
    @include border-radius(4px);
    @include font(20px, arial, 900);
    margin-left: $gap;
    &:hover {
      @extend %hover;
    }
  }
}
