@use "/src/common/styles/colors" as *;

%hover {
  background-color: transparentize($color: $colorBG, $amount: 0.3);
}

%btn{
  background-color: $colorBgSecondary;
  color: $colorTextSecondary;
  border: none;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}